body {
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    color: purple;
}

h1 {
    font-family: 'Bevan', cursive;
    font-size: 200%;
    margin-top: 20px;
    text-decoration: underline;
    color: blue
}

p {
    font-size: 150%;
    text-decoration: wavy;
    color: aquamarine;
}